@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="bg-secondary pt-5">
    <section class="container">
        <div class="row">
            <h1 class="mt-5">Privacy Policy</h1>
            <p class="lead">We are committed to protecting your privacy and ensuring the security of
                your
                personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your
                information
                when you use our User Admin solution.</p>

            <h2>Collection of Information</h2>
            <p>We collect information that you voluntarily provide to us when using our software. This may include
                personal
                information such as names, email addresses, client IDs, client secrets, application IDs, etc. We may
                also
                collect usage data and analytics information to improve our software and enhance the user experience.
            </p>

            <h2>Use of Information</h2>
            <p>We use the information we collect to provide and improve our software, respond to user inquiries and
                requests,
                analyze trends, monitor usage patterns, and personalize the user experience. Your data (including client
                IDs,
                client secrets, application IDs, etc.) is solely used for the intended functionality of our Azure B2C
                User
                Management Solution. We do not sell, distribute, or use your data for any malicious purposes.</p>

            <h2>Data Security</h2>
            <p>We take the security of your data seriously. We implement industry-standard security
                measures
                to protect your information from unauthorized access, disclosure, alteration, or destruction. Your data
                is
                encrypted, securely stored, and accessed only by authorized personnel for legitimate purposes.</p>

            <h2>Third-Party Services</h2>
            <p>We may use third-party services and tools to help us operate our software and deliver our services. These
                third-party providers may have access to your information only to perform these tasks on our behalf and
                are
                obligated not to disclose or use it for any other purpose.</p>

            <h2>Changes to this Privacy Policy</h2>
            <p>We reserve the right to update or change this Privacy Policy at any time. Any changes will be effective
                immediately upon posting the updated Privacy Policy on this page. We encourage you to review this
                Privacy Policy
                periodically for any changes.</p>

            <h2>Contact Us</h2>
            <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a
                    href="mailto:clint@parkasoftware.com">clint@parkasoftware.com</a>.</p>
        </div>
    </section>
</div>
