@{
    ViewData["Title"] = "Easily view and update Azure B2C Custom Properites";
}

<div class="row align-items-center pb-4 mt-lg-4 mt-xl-4">
    <div class="col-md-6 col-sm-12">
        <h1 class="display-4 pb-2 pb-lg-3 mt-sm-2 mt-lg-5">
            Edit Azure B2C User Custom Properties & Extension Attributes</h1>
        <p class="fs-lg mb-4 mb-lg-5">
            Overcome Azure AD B2C user admin challenges with our user-friendly interface, facilitating seamless
            viewing and updating of custom attributes and user properties of Azure B2C users. Say goodbye to
            complexities, special log-in rights, and extensive training. Empower end users, streamlining user
            management with precision.</p>
        <a href="/users/" class="btn btn-primary btn-lg">View users</a>
    </div>
    <div class="col-md-6 col-sm-12 p-5">
        <img src="/assets/img/b2c_user_admin_edit.png" alt="Edit Azure B2C User">
    </div>
</div>
<hr />
